src/main/mule/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="mule-batch-api-template-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mule-batch-api-template-config" api="mule-batch-api-template.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mule-batch-api-template-main">
        <http:listener config-ref="mule-batch-api-template-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="set properties" doc:id="192d1622-8565-47c6-af4b-e39f98865d9f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="originatingApplication"><![CDATA[%dw 2.0
output application/java
---
"template source"]]></ee:set-variable>
				<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable variableName="service"><![CDATA[%dw 2.0
output application/java
---
"template service"]]></ee:set-variable>
				<ee:set-variable variableName="destinationApplication"><![CDATA[%dw 2.0
output application/java
---
"template destination"]]></ee:set-variable>
				<ee:set-variable variableName="bussinessProcessName"><![CDATA[%dw 2.0
output application/java
---
"template business process"]]></ee:set-variable>
				<ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---
"api-template-main"]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="mule-batch-api-template-config" />
    </flow>
</mule>
